/* Add your custom styles here */

body {
    font-family: 'Arial', sans-serif;
    background-color:  #fff;
    margin: 0;
    padding: 0;
}

header img{
    max-width: 100%;
}
 #logo {
            width: 100px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            position: absolute;
            radius:10%;
            right: 20px; /* Adjust the left position as needed */
            top: 50%; /* Align to the vertical center of the header */
            transform: translateY(-50%); /* Center the logo vertically */
        }
nav {
    background-color: #113043;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffd700;
}

main {
    padding: 10px;
    background-color: #ecf0f1;
}

section {
    padding: 10px;
    background-color:  #cfdeec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h3 {
    text-align: center;
    color: #333;
}

section img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid #3498db;
    border-radius: 5px;
}

section a:hover img {
    border-color: #ffd700;
}

footer {
    color: #333; /* Dark gray text */
    text-align: center;
    font-size: 10px; /* Very small font size */
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}
